window {
  background-color: #@@BASE@@;
  color: #@@TEXT@@;
  border: 2px solid #@@BLUE@@;
  border-radius: 8px;
}

#input {
  background-color: #@@MANTLE@@;
  color: #@@TEXT@@;
  border: none;
  border-bottom: 2px solid #@@SURFACE0@@;
  padding: 8px;
  margin: 4px;
}

#inner-box {
  background-color: #@@BASE@@;
}

#outer-box {
  padding: 4px;
}

#entry {
  padding: 6px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #@@SURFACE0@@;
  color: #@@BLUE@@;
}

#text {
  color: #@@TEXT@@;
}

#text:selected {
  color: #@@BLUE@@;
}
